<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/security 
			http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- <security:http pattern="/" security="none"/> -->
	
	<security:http pattern="/process" entry-point-ref="SDIIEntryPoint">
		<security:custom-filter position="FORM_LOGIN_FILTER" ref="SDIIFilter" />
        <security:csrf disabled="true"/>
	</security:http>
	
    <security:http auto-config="true">
    	<security:intercept-url pattern="/cboard/lib/**" access="permitAll"/>
        <security:intercept-url pattern="/cboard/dist/**" access="permitAll"/>
        <security:intercept-url pattern="/cboard/bootstrap/**" access="permitAll"/>
        <security:intercept-url pattern="/cboard/plugins/**" access="permitAll"/>
        <security:intercept-url pattern="/cboard/js/**" access="permitAll"/>
        <security:intercept-url pattern="/cboard/css/**" access="permitAll"/>
        
        <security:intercept-url pattern="/cboard/**" access="isAuthenticated()"/>
        
        <security:intercept-url pattern="/report/css/**" access="permitAll"/>
        <security:intercept-url pattern="/report/img/**" access="permitAll"/>
        <security:intercept-url pattern="/report/js/**" access="permitAll"/>
        <security:intercept-url pattern="/report/lib/**" access="permitAll"/>
        <security:intercept-url pattern="/report/**" access="isAuthenticated()"/>
    	
		<security:form-login 
			login-page="/" 
			login-processing-url="/process"
			username-parameter="username" 
			password-parameter="password"
			default-target-url="/view/starter/starter.jsp" 
			authentication-success-handler-ref="LoginSuccessHandler"
			authentication-failure-handler-ref="loginFailureHandler"
		/>
			
        <security:logout
			logout-url="/logout"
			success-handler-ref="logoutHandler" />
        <!-- <security:remember-me remember-me-parameter="remember_me"/> -->
        <security:csrf disabled="true"/>
    </security:http>
    
    <bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
    	<constructor-arg name="strength" value="256"/>
    </bean>
    
	<security:authentication-manager alias="authenticationManager">
        <security:authentication-provider ref="authenticationProvider"/>
    </security:authentication-manager>
	
    <bean id="authenticationProvider" class="org.cboard.security.authentication.SDIIAuthenticationProvider"/>
    <!-- <bean id="userDetailsService" class="org.cboard.security.service.SDIIUserDetailsService"/> -->
    
    <bean id="LoginSuccessHandler" class="org.cboard.security.handler.LoginSuccessHandler"/>
    <bean id="loginFailureHandler" class="org.cboard.security.handler.LoginFailureHandler"/>
    
    <bean id="logoutHandler" class="org.cboard.security.handler.LogoutSuccessHandler"/>
          
	<bean id="SDIIEntryPoint" class="org.cboard.security.authentication.SDIIAuthenticationEntryPoint"/>
	<bean id="SDIIFilter" class="org.cboard.security.authentication.SDIIAuthenticationFilter">
		<property name="authenticationManager" ref="authenticationManager"/>
	</bean>
</beans>