body {
	font-family: "notosanskr", "sans-serif" !important;
	background-color: #e7e5e9;
}

.mt5 {
	margin-top:5px !important;
}
.mt15 {
	margin-top:15px !important;
}

.mt-5{
	margin-top:-5px !important;
}
.mt-15{
	margin-top:-15px !important;
}
.ml5{
	margin-left: 5px !important;
}
.ml10 {
	margin-left: 10px !important;
}

input, input:focus, button:focus, input:focus {
  outline: none !important;
}

.box_shadow {
	-moz-box-shadow:    1px 1px 2px 3px #bfbfbf;
	-webkit-box-shadow: 1px 1px 2px 3px #bfbfbf;
	box-shadow:         1px 1px 2px 3px #bfbfbf;
}

.navibar {
	height: 56px;
	background-color: #333333;
}

.navibar_title {
	font-size: 24px;
	color: #ffffff;
	line-height: 100px;
}

.navibar_menu {
	margin-left: 20px;
	margin-top: -3px;
}

.navibar_brand {
	margin-left: 20px;
}

.search_box_wrap {
	height: 100%;
	text-align: center;
	padding-right: 30px;
}

.search_box_wrap {
    height: 100%;
    text-align: center;
    padding-right: 30px;
}

.navibar_group_title {
	margin-left: 10px;
    font-size: 16px;
    color: #ffffff;
}

.header_title {
	font-size: 24px;
	color: #ffffff;
	line-height: 100px;
}

.btn_insight_report, .go_starter_btn {
	font-size: 28px;
	color:#fff;
	cursor: pointer;
}

.go_starter_btn {
	margin-left: 20px;
}

.search_container, .docs_list_conatiner, .analytics_container {
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
	max-width: 1100px;
	background-color: #fff;
	font-size: 14px;
	margin-top: 5px;
}

.docs_list_conatiner {
	/*
	max-height: 600px;
	overflow-x: auto;
	*/
}
.title_main {
	font-size: 18px;
	font-weight: bold;
	padding:5px;
}

.title_border {
	border-bottom: 1px solid #666666;
	height: 1px;
	width: 98%;
	margin-left: 1%;
}

.excel_title_wrap {
	padding: 5px 5px 5px 20px;
	width: 18%;
}

.title_excel {
	text-decoration: underline;
	cursor:pointer;

}
.ctrl_sub_wrap {
	padding-right: 42px;
}

.sch_help_wrap {
	padding-right: 304px;
}
.search_title_wrap {
	margin-top: 5px;
}

.search_title, .search_input {
	padding: 5px;
}

.search_title {
	text-align: center;
	justify-content: center !important;
	align-items: center !important;
	width: 14%;
	line-height: 38px;
}

.search_input select {
	width: 100px;
	text-align-last:center; 
	height: 35px;
}
.search_input {
	width: 84%;
}

.ga_input {
	width: 64% !important;
}

.btn_search_simple_btn {
	margin: 5px;
	width: 80px !important;
}

.btn_detl_opt_open {
	margin: 5px;
	width: 40px !important;	
}

.search_input input {
	width: 100%;
	height: 38px;
	padding: 5px 10px 5px 10px;
}

.search_help {
	padding: 0px;
	padding-left: 20px;
	margin-top: 5px;
}

.search_ctrl_btn {
	height: 38px;
  line-height: 38px;
	min-width: 90px;
  border: 1px solid #bbbbbb;
  cursor: pointer;
  padding: 0px 5px 0px 5px;
  text-align: center;
}

.search_ctrl_btn:after{
	margin-right: 5px;
}
.search_ctrl_btn::after {
	margin-right: 5px;
}

.search_ctrl_btn:hover, .cate_box:hover {
	border: 1px solid #00B3F9;
}

.sch_opts {
	border-radius: 8px !important;
	min-width: 60px !important;
	width: 60px !important;
	height: 30px !important;
	line-height: 30px;
}

.sch_opts:hover{
	border: none;
	background-color: #666;
	color: #fff;
}
.cate_wrap {
	padding: 20px 0px 20px 10px;
}

.cate_box {
	width: 132px;
	margin-left: 2px;
	color: #333333;
}

.cate_box_click {
	border: none !important;
	color: #fff !important;
	background: #999999 !important;
}

.search_detl_btn_wrap {
	padding-bottom: 20px;
}

.search_detl_btn {
	width: 120px;
  border: 1px solid #bbbbbb;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border-radius: 8px;
}
.search_detl_btn:hover {
	border: none;
	color: #fff;
	background-color: #333333;
	font-weight: bold;
}

.cate_news_all_btn, .cate_sns_all_btn {
	width: 20px;
	height: 20px;
	border: 1px solid #bbbbbb;
	margin-left: 12px;
	text-align: center;
	line-height: 20px;
}

.search_title_sm {
	font-weight: bold;
	margin-left: 10px;
	margin-bottom: 10px;
}
.cate_news_wrap, .cate_sns_wrap, .cate_api_wrap {
	padding-left: 10px;
}

.cate_news_box, .cate_sns_box, .cate_api_box {
	border: 1px solid #bbbbbb;
	height: 38px;
	line-height: 38px;
	min-width: 132px;
	text-align: center;
	color: #333333;
	cursor: pointer;
	margin-top: 2px;
	margin-left: 2px;
}
.cate_api_box {
	min-width: 212px;	
}
.cate_news_box:hover, .cate_sns_box:hover, .cate_api_box:hover{
	border: 1px solid #00B3F9;
	font-weight: bold;
}

.calendar_wrap .input-group {
	border: 1px solid #aaaaaa;
}
.calendar_wrap {
	margin-left: 40px;
	height: 35px;
}
.calendar_wrap .cal_inp {
	border: none;
	width: 160px;
	height: 33px;
	line-height: 35px;
	text-align: center;
	font-size: 14px;
}

.flatpickr .input-group-addon {
	padding-left: 10px;
  z-index: 1;
}

.calendar_wrap .tilde {
	line-height: 35px;
	margin-left:5px;
	margin-right:5px;
}
.flatpickr i {
	/* margin-top: 10px; */
}

.list_row_wrap {
	padding: 0px 20px 0px 20px;
	word-break: keep-all;
}

.list_row_cont_wrap {
	max-height: 600px;
	overflow-y: auto;
	overflow-x: hidden;
}
.list_row_wrap .doc_cont {
	padding-top:5px;
	padding-left:5px;
	word-break: keep-all;
	color: #333333;
}

.list_row_wrap .press_wrap {
	padding-left: 5px;
	color: #666666;
	font-weight: bold;
}
.go_url {
	text-decoration: underline !important;
	color:#333333;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
}

.btn_detl_opt {
	font-weight: bold;
	cursor: pointer;
	width: 100%;
	text-align: center;
}

.analytics_list_wrap {
	padding: 10px;
	word-break: keep-all;
}
